@import colors
@import prefixes
@import 'components/triangle'

@import fitter

#article .ig
  @import basics
  @import overlay
  @import player

#article .ig.base
  position relative
  .highway-container
    position absolute
    top 0px
    left 0px
