@import colors
@import prefixes
@import 'components/triangle'

.ig
  @import basics
.ig
  .overlay-container
    position absolute
    top 280px
    left 300px
    width 600px
    height 250px
    .map
      position absolute
      width 100%
      height 100%
  .map-player-container
    position absolute
    top 0px
    left 300px
    width 600px
    height 250px
    .map
    .player
      position absolute
      top 0px
      height 100%
      width 50%
    .map
      left 0px
    .player
      left 50%
