@import colors
@import prefixes
@import 'components/triangle'

@import fitter

#article .ig
  @import basics
  @import overlay
  @import player

#article .ig
  .map
    position relative
    .szn-logo
      position absolute
      bottom 15px
      right 10px
.actions
  margin-top 40px !important
  float left
  width 100%
#article
  min-height 12620px
#article .ig.base
  position relative
  .highway-container
    position absolute
    top 0px
    left 0px
    width 300px
    img
      margin-left 50px
    .header
    .footer
      position absolute
      left 50px
      width 100%
      height 20px
      background white
    .header
      top 0px
      background linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    .footer
      bottom 0px
      background linear-gradient(to top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
    .sections
      .section
        font-family Roboto, sans-serif
        left 30px
        font-variant small-caps
        font-size 18px
        position absolute
        transform rotate(90deg)
        transform-origin 0px 0px
        border-top 1px dotted #6
        text-align center
